/* @import '../../public/css/awcodes/tiptap-editor/tiptap.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer utilities {
    article.doc-content h1 {
        @apply text-3xl font-bold tracking-tight text-slate-900;
    }
    article.doc-content p {
        @apply mt-2 text-xl text-slate-600;
    }
    article.doc-content {
        @apply prose prose-slate max-w-none prose-headings:font-semibold prose-headings:tracking-tight prose-lead:text-slate-500 prose-a:font-semibold prose-a:underline prose-pre:bg-slate-900;
    }
}

/*  This is Filament Color::Teal */
:root {
    --primary-50: 240, 253, 250;
    --primary-100: 204, 251, 241;
    --primary-200: 153, 246, 228;
    --primary-300: 94, 234, 212;
    --primary-400: 45, 212, 191;
    --primary-500: 20, 184, 166;
    --primary-600: 13, 148, 136;
    --primary-700: 15, 118, 110;
    --primary-800: 17, 94, 89;
    --primary-900: 19, 78, 74;
    --primary-950: 4, 47, 46;
}